In [37]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [38]:
df = pd.read_csv('./files/Breast_Cancer.csv')
df

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [39]:
df.isnull().sum()

Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
differentiate             0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64

In [40]:
df.rename(columns={"Reginol Node Positive": "Regional Node Positive"}, inplace=True)

In [41]:
df.to_csv('./clean files/Breast_Cancer_Limpio.csv', index=False)

In [42]:
df_continentes = pd.read_csv('./files/dataset-continentes.csv')
df_continentes

,Alpha-3 code,Cancer code,Population code (ISO/UN),Country,Label,Sex,Number,95% UI low,95% UI high,Number.1,ASR (World),Crude rate,Cumulative risk
0,N.A.,20.0,903.0,903.0,Africa,2.0,198553,196356.0,200774.0,198553,40.5,28.2,4.3
1,N.A.,20.0,904.0,904.0,Latin America and the Caribbean,2.0,220124,218440.0,221821.0,220124,52.0,65.1,5.6
2,N.A.,20.0,905.0,905.0,Northern America,2.0,306307,305083.0,307536.0,306307,95.1,162.5,10.3
3,N.A.,20.0,908.0,908.0,Europe,2.0,557532,554385.0,560696.0,557532,75.6,144.3,8.1
4,N.A.,20.0,909.0,909.0,Oceania,2.0,28507,28057.0,28964.0,28507,91.5,130.5,9.9
5,N.A.,20.0,935.0,935.0,Asia,2.0,985817,981692.0,989960.0,985817,34.3,43.4,3.7
6,NaN,NaN,NaN,NaN,Total,NaN,2296840,NaN,NaN,2296840,46.8,58.7,5.1

In [43]:
df_continentes.isnull().sum()

Alpha-3 code                1
Cancer code                 1
Population code (ISO/UN)    1
Country                     1
Label                       0
Sex                         1
Number                      0
95% UI low                  1
95% UI high                 1
Number.1                    0
ASR (World)                 0
Crude rate                  0
Cumulative risk             0
dtype: int64

In [44]:
# Borramos la ultima fila, que es la que contiene los nulos
df_continentes = df_continentes.iloc[:-1]
df_continentes

,Alpha-3 code,Cancer code,Population code (ISO/UN),Country,Label,Sex,Number,95% UI low,95% UI high,Number.1,ASR (World),Crude rate,Cumulative risk
0,N.A.,20.0,903.0,903.0,Africa,2.0,198553,196356.0,200774.0,198553,40.5,28.2,4.3
1,N.A.,20.0,904.0,904.0,Latin America and the Caribbean,2.0,220124,218440.0,221821.0,220124,52.0,65.1,5.6
2,N.A.,20.0,905.0,905.0,Northern America,2.0,306307,305083.0,307536.0,306307,95.1,162.5,10.3
3,N.A.,20.0,908.0,908.0,Europe,2.0,557532,554385.0,560696.0,557532,75.6,144.3,8.1
4,N.A.,20.0,909.0,909.0,Oceania,2.0,28507,28057.0,28964.0,28507,91.5,130.5,9.9
5,N.A.,20.0,935.0,935.0,Asia,2.0,985817,981692.0,989960.0,985817,34.3,43.4,3.7

In [45]:
# Borramos las columnas que no necesitamos
df_continentes.drop(columns=['Alpha-3 code', 'Cancer code', 'Population code (ISO/UN)', 'Country', 'Sex', '95% UI low', '95% UI high', 'Number.1'], inplace=True)

C:\Users\nadal\AppData\Local\Temp\ipykernel_10380\3129354728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_continentes.drop(columns=['Alpha-3 code', 'Cancer code', 'Population code (ISO/UN)', 'Country', 'Sex', '95% UI low', '95% UI high', 'Number.1'], inplace=True)

In [46]:
df_continentes

,Label,Number,ASR (World),Crude rate,Cumulative risk
0,Africa,198553,40.5,28.2,4.3
1,Latin America and the Caribbean,220124,52.0,65.1,5.6
2,Northern America,306307,95.1,162.5,10.3
3,Europe,557532,75.6,144.3,8.1
4,Oceania,28507,91.5,130.5,9.9
5,Asia,985817,34.3,43.4,3.7

In [47]:
# Cambiamos el nombre de algunas columnas para que sea mÃ¡s intuitivo
df_continentes.rename(columns={"Label": "Continent", "Number": "Total Cases", "ASR (World)": "Age-Standardized Rate"}, inplace=True)
df_continentes

C:\Users\nadal\AppData\Local\Temp\ipykernel_10380\3615531090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_continentes.rename(columns={"Label": "Continent", "Number": "Total Cases", "ASR (World)": "Age-Standardized Rate"}, inplace=True)

,Continent,Total Cases,Age-Standardized Rate,Crude rate,Cumulative risk
0,Africa,198553,40.5,28.2,4.3
1,Latin America and the Caribbean,220124,52.0,65.1,5.6
2,Northern America,306307,95.1,162.5,10.3
3,Europe,557532,75.6,144.3,8.1
4,Oceania,28507,91.5,130.5,9.9
5,Asia,985817,34.3,43.4,3.7

In [48]:
# Guardamos el archivo limpio
df_continentes.to_csv('./clean files/dataset-continentes-limpio.csv', index=False)

In [49]:
# Leemos el archivo de paÃ­ses  
df_paises = pd.read_csv('./files/dataset-paises.csv')
df_paises

,Alpha-3 code,Cancer code,Population code (ISO/UN),Country,Label,Sex,Number,95% UI low,95% UI high,Number.1,ASR (World),Crude rate,Cumulative risk
0,AFG,20.0,4.0,4.0,Afghanistan,0.0,3545,1678.0,7490.0,3545,29.4,17.9,3.1
1,ALB,20.0,8.0,8.0,Albania,0.0,1022,951.0,1098.0,1022,51.1,72.6,5.2
2,DZA,20.0,12.0,12.0,Algeria,0.0,14601,14101.0,15118.0,14601,61.9,65.1,6.3
3,AGO,20.0,24.0,24.0,Angola,0.0,2898,2843.0,2954.0,2898,29.4,16.4,3.3
4,AZE,20.0,31.0,31.0,Azerbaijan,0.0,2195,1349.0,3572.0,2195,32.9,42.6,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,N.A.,20.0,993.0,993.0,WHO East Mediterranean region (EMRO),0.0,130062,127701.0,132466.0,130062,40.3,35.4,4.2
234,N.A.,20.0,994.0,994.0,WHO Europe region (EURO),0.0,604941,598220.0,611737.0,604941,70.7,125.6,7.6
235,N.A.,20.0,995.0,995.0,WHO South-East Asia region (SEARO),0.0,313537,311542.0,315544.0,313537,28.4,31.2,3.1
236,N.A.,20.0,996.0,996.0,WHO Western Pacific region (WPRO),0.0,575281,572721.0,577852.0,575281,39.6,61.1,4.2
237,NaN,NaN,NaN,NaN,Total,NaN,18191189,NaN,NaN,18191189,45.7,56.1,4.9

In [50]:
df_paises.isnull().sum()

Alpha-3 code                1
Cancer code                 1
Population code (ISO/UN)    1
Country                     1
Label                       0
Sex                         1
Number                      0
95% UI low                  1
95% UI high                 1
Number.1                    0
ASR (World)                 0
Crude rate                  0
Cumulative risk             0
dtype: int64

In [51]:
# Borramos la ultima fila, que es la que contiene los nulos
df_paises = df_paises.iloc[:-1]
df_paises

,Alpha-3 code,Cancer code,Population code (ISO/UN),Country,Label,Sex,Number,95% UI low,95% UI high,Number.1,ASR (World),Crude rate,Cumulative risk
0,AFG,20.0,4.0,4.0,Afghanistan,0.0,3545,1678.0,7490.0,3545,29.4,17.9,3.1
1,ALB,20.0,8.0,8.0,Albania,0.0,1022,951.0,1098.0,1022,51.1,72.6,5.2
2,DZA,20.0,12.0,12.0,Algeria,0.0,14601,14101.0,15118.0,14601,61.9,65.1,6.3
3,AGO,20.0,24.0,24.0,Angola,0.0,2898,2843.0,2954.0,2898,29.4,16.4,3.3
4,AZE,20.0,31.0,31.0,Azerbaijan,0.0,2195,1349.0,3572.0,2195,32.9,42.6,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,N.A.,20.0,992.0,992.0,WHO Americas region (PAHO),0.0,525882,522143.0,529648.0,525882,70.2,100.0,7.7
233,N.A.,20.0,993.0,993.0,WHO East Mediterranean region (EMRO),0.0,130062,127701.0,132466.0,130062,40.3,35.4,4.2
234,N.A.,20.0,994.0,994.0,WHO Europe region (EURO),0.0,604941,598220.0,611737.0,604941,70.7,125.6,7.6
235,N.A.,20.0,995.0,995.0,WHO South-East Asia region (SEARO),0.0,313537,311542.0,315544.0,313537,28.4,31.2,3.1
236,N.A.,20.0,996.0,996.0,WHO Western Pacific region (WPRO),0.0,575281,572721.0,577852.0,575281,39.6,61.1,4.2

In [52]:
df_paises.isnull().sum()

Alpha-3 code                0
Cancer code                 0
Population code (ISO/UN)    0
Country                     0
Label                       0
Sex                         0
Number                      0
95% UI low                  0
95% UI high                 0
Number.1                    0
ASR (World)                 0
Crude rate                  0
Cumulative risk             0
dtype: int64

In [53]:
# Borramos las columnas que no necesitamos
df_paises.drop(columns=['Alpha-3 code', 'Cancer code', 'Population code (ISO/UN)', 'Country', 'Sex', '95% UI low', '95% UI high', 'Number.1'], inplace=True)
df_paises

C:\Users\nadal\AppData\Local\Temp\ipykernel_10380\2336324044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_paises.drop(columns=['Alpha-3 code', 'Cancer code', 'Population code (ISO/UN)', 'Country', 'Sex', '95% UI low', '95% UI high', 'Number.1'], inplace=True)

,Label,Number,ASR (World),Crude rate,Cumulative risk
0,Afghanistan,3545,29.4,17.9,3.1
1,Albania,1022,51.1,72.6,5.2
2,Algeria,14601,61.9,65.1,6.3
3,Angola,2898,29.4,16.4,3.3
4,Azerbaijan,2195,32.9,42.6,3.5
...,...,...,...,...,...
232,WHO Americas region (PAHO),525882,70.2,100.0,7.7
233,WHO East Mediterranean region (EMRO),130062,40.3,35.4,4.2
234,WHO Europe region (EURO),604941,70.7,125.6,7.6
235,WHO South-East Asia region (SEARO),313537,28.4,31.2,3.1
236,WHO Western Pacific region (WPRO),575281,39.6,61.1,4.2

In [54]:
# Cambiamos el nombre de algunas columnas para que sea mÃ¡s intuitivo
df_paises.rename(columns={"Label": "Country", "Number": "Total Cases", "ASR (World)": "Age-Standardized Rate"}, inplace=True)
df_paises

C:\Users\nadal\AppData\Local\Temp\ipykernel_10380\296247649.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_paises.rename(columns={"Label": "Country", "Number": "Total Cases", "ASR (World)": "Age-Standardized Rate"}, inplace=True)

,Country,Total Cases,Age-Standardized Rate,Crude rate,Cumulative risk
0,Afghanistan,3545,29.4,17.9,3.1
1,Albania,1022,51.1,72.6,5.2
2,Algeria,14601,61.9,65.1,6.3
3,Angola,2898,29.4,16.4,3.3
4,Azerbaijan,2195,32.9,42.6,3.5
...,...,...,...,...,...
232,WHO Americas region (PAHO),525882,70.2,100.0,7.7
233,WHO East Mediterranean region (EMRO),130062,40.3,35.4,4.2
234,WHO Europe region (EURO),604941,70.7,125.6,7.6
235,WHO South-East Asia region (SEARO),313537,28.4,31.2,3.1
236,WHO Western Pacific region (WPRO),575281,39.6,61.1,4.2

In [55]:
# Guardamos el archivo limpio
df_paises.to_csv('./clean files/dataset-paises-limpio.csv', index=False)